body {
  margin: 0;
  font-family: Arial, sans-serif;
}

.gallery {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 0 156px;
  max-width: calc(100% - 312px);
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  /* 3 елементи в рядку */
}

.gallery-link {
  display: block;
  position: relative;
}

.gallery-image {
  display: block;
  width: 100%;
  height: auto;
  transition: transform 0.3s ease;
  object-fit: cover;
}

.gallery-item:hover .gallery-image {
  transform: scale(1.05);
}

.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1000;
}

.modal img {
  max-width: 90%;
  max-height: 80%;
}

.modal .prev,
.modal .next {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  font-size: 24px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}

.modal .prev {
  left: 20px;
}

.modal .next {
  right: 20px;
}

.modal .close {
  position: absolute;
  top: 20px;
  right: 20px;
  font-size: 24px;
  color: white;
  background-color: rgba(255, 255, 255, 0.2);
  padding: 10px;
  cursor: pointer;
  border-radius: 50%;
}